.wpcf7 .screen-reader-response {
	position: absolute;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	word-wrap: normal !important;
}

.wpcf7 form .wpcf7-response-output {
	margin: 2em 0.5em 1em;
	padding: 0.2em 1em;
	border: 2px solid #00a0d2; /* Blue */
}

.wpcf7 form.init .wpcf7-response-output,
.wpcf7 form.resetting .wpcf7-response-output,
.wpcf7 form.submitting .wpcf7-response-output {
	display: none;
}

.wpcf7 form.sent .wpcf7-response-output {
	border-color: #46b450; /* Green */
}

.wpcf7 form.failed .wpcf7-response-output,
.wpcf7 form.aborted .wpcf7-response-output {
	border-color: #dc3232; /* Red */
}

.wpcf7 form.spam .wpcf7-response-output {
	border-color: #f56e28; /* Orange */
}

.wpcf7 form.invalid .wpcf7-response-output,
.wpcf7 form.unaccepted .wpcf7-response-output,
.wpcf7 form.payment-required .wpcf7-response-output {
	border-color: #ffb900; /* Yellow */
}

.wpcf7-form-control-wrap {
	position: relative;
}

.wpcf7-not-valid-tip {
	color: #dc3232; /* Red */
	font-size: 1em;
	font-weight: normal;
	display: block;
}

.use-floating-validation-tip .wpcf7-not-valid-tip {
	position: relative;
	top: -2ex;
	left: 1em;
	z-index: 100;
	border: 1px solid #dc3232;
	background: #fff;
	padding: .2em .8em;
	width: 24em;
}

.wpcf7-list-item {
	display: inline-block;
	margin: 0 0 0 1em;
}

.wpcf7-list-item-label::before,
.wpcf7-list-item-label::after {
	content: " ";
}

.wpcf7-spinner {
	visibility: hidden;
	display: inline-block;
	background-color: #23282d; /* Dark Gray 800 */
	opacity: 0.75;
	width: 24px;
	height: 24px;
	border: none;
	border-radius: 100%;
	padding: 0;
	margin: 0 24px;
	position: relative;
}

form.submitting .wpcf7-spinner {
	visibility: visible;
}

.wpcf7-spinner::before {
	content: '';
	position: absolute;
	background-color: #fbfbfc; /* Light Gray 100 */
	top: 4px;
	left: 4px;
	width: 6px;
	height: 6px;
	border: none;
	border-radius: 100%;
	transform-origin: 8px 8px;
	animation-name: spin;
	animation-duration: 1000ms;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

@media (prefers-reduced-motion: reduce) {
	.wpcf7-spinner::before {
		animation-name: blink;
		animation-duration: 2000ms;
	}
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

@keyframes blink {
	from {
		opacity: 0;
	}

	50% {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

.wpcf7 [inert] {
	opacity: 0.5;
}

.wpcf7 input[type="file"] {
	cursor: pointer;
}

.wpcf7 input[type="file"]:disabled {
	cursor: default;
}

.wpcf7 .wpcf7-submit:disabled {
	cursor: not-allowed;
}

.wpcf7 input[type="url"],
.wpcf7 input[type="email"],
.wpcf7 input[type="tel"] {
	direction: ltr;
}

.wpcf7-reflection > output {
	display: list-item;
	list-style: none;
}

.wpcf7-reflection > output[hidden] {
	display: none;
}
body,
		.contact-form-section .address,
		.accordion-box .acc-content {
			color: #161616;
		}

		body {
			font-family: Poppins;
			font-size: 15px;
		}

		.logo h1 a {
			font-family: Poppins;
			color: #212329;
			font-size: 38px
		}

		.logo p {
			color: #444444;
		}

		.logo img {
			height: 43px;
			width: auto;
		}

		.site-navigation ul {
			font-family: 'Poppins', sans-serif;
			font-size: 16px
		}

		a:hover {
			color: #272727;
		}

		.site-footer h2,
		.site-footer h3,
		.site-footer h4,
		.site-footer h5 {
			color: #fff;
			font-size: 22px;
		}

		.hdrtop-Info,
		.hdrsocial a,
		.infoBx a,
		.infoBx p,
		.heade-top-area-mail i {
			color: #ffffff;
		}

		#masthead,
		#navigationpanel {
			background-color: #ffffff;
		}

		.button,
		#commentform input#submit,
		input.search-submit,
		.post-password-form input[type=submit],
		p.read-more a,
		.pagination ul li span,
		.pagination ul li a,
		.headertop .right a,
		.wpcf7 form input[type='submit'],
		#sidebar .search-form input.search-submit {
			color: #ffffff;
		}

		.button:hover,
		input.search-submit:hover,
		.post-password-form input[type=submit]:hover,
		p.read-more a:hover,
		.pagination ul li .current,
		.pagination ul li a:hover,
		.headertop .right a:hover,
		.wpcf7 form input[type='submit']:hover {
			background-color: #464646;
			color: #ffffff;
		}

		a.morebutton {
			color: #ffffff;
		}

		a.morebutton:hover {
			background-color: #464646;
			color: #ffffff;
		}

		#sidebar h2,
		#sidebar h2,
		#sidebar h4,
		#sidebar h5 {
			color: #202020;
			font-size: 22px;
		}

		.site-footer,
		.widget-column-1 a,
		.widget-column-2 p,
		.widget-column-3 p,
		.widget-column-3 a,
		.footer_info_box h6,
		.footer_info_box i {
			background-color: #1b4b33;
			color: #fff;
		}

		.footer-contact-info .footer-info-box a,
		.footer-contact-info .footer-info-box {
			color: #fff;
		}

		.contactdetail a,
		.site-footer ul li a {
			color: #fff;
		}

		.copyright-wrapper,
		.help-button a {
			background-color: #1b4b33;
			color: #fff;
		}

		.copyright-wrapper a:hover {
			color: #ffffff;
		}

		.nivo-controlNav a {
			background-color: #348e37
		}

		#sidebar ul li {
			border-color: #d0cfcf
		}

		#sidebar ul li a {
			color: #78797c;
		}

		.nivo-caption h2 {
			font-family: Poppins;
			color: #282828;
			font-size: 48px;
		}

		.nivo-caption p {
			font-family: Poppins;
			color: #161616;
			font-size: 16px;
		}

		.nivo-caption h4 {
			font-family: Poppins;
			
		}

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			font-family: Poppins;
		}

		h1 {
			font-size: 30px;
			color: #272727;
		}

		h2 {
			font-size: 32px;
			color: #272727;
		}

		h3 {
			font-size: 30px;
			color: #272727;
		}

		h4 {
			font-size: 24px;
			color: #272727;
		}

		h5 {
			font-size: 22px;
			color: #272727;
		}

		h6 {
			font-size: 20px;
			color: #272727;
		}

		.footsocial a {
			color: #ffffff;
		}

		.nivo-directionNav a {
			background-color: rgba(255, 255,0 , 1);
		}

		.news-box h6 a {
			color: #282828;
		}

		.pagination ul li .current,
		.pagination ul li a:hover,
		.sd-search input,
		.sd-top-bar-nav .sd-search input,
		a.blogreadmore,
		.owl-prev,
		.owl-next,
		.custom_video .playbtn:after,
		.NewsBox .newsInfo span,
		#back-top i,
		#commentform input#submit,
		a.ReadMoreBtn,
		.copyrigh-wrapper:before,
		#sidebar .search-form input.search-submit,
		.wpcf7 input[type='submit'],
		nav.pagination .page-numbers.current,
		.morebutton,
		.woocommerce button.button.alt,
		.woocommerce span.onsale,
		.woocommerce-cart .wc-proceed-to-checkout a.checkout-button,
		.nivo-caption h5,
		.owl-controls .owl-dot,
		.RightNavMenu .container,
		.titledesbox cite {
			background-color: #348e37;
		}

		.titledesbox cite::before {
			border-bottom: 20px solid #348e37;
		}

		.titledesbox cite::after {
			border-top: 10px solid #348e37;
		}

		.header-contact-info .header-info-box b,
		.titledesbox h5 a {
			color: #348e37;
		}

		.header-search-area .header-search-bar .search-field {
			border-color: #348e37;
		}

		a,
		#sidebar ul li a:hover,
		#sidebar ol li a:hover,
		.BlogPostList h3 a:hover,
		.postmeta a:hover,
		#Section-11 ul li::marker,
		h5.subtitle,
		.NewsBox h3 a:hover,
		.woocommerce div.product p.price,
		.woocommerce div.product span.price,
		.woocommerce table.shop_table th,
		.woocommerce-page table.shop_table th,
		.button:hover,
		h2.services_title span,
		.blog-postmeta a:hover,
		.blog-postmeta a:focus,
		blockquote::before {
			color: #348e37;
		}

		.tagcloud a:hover,
		.logo::after,
		blockquote {
			border-color: #348e37;
		}

		a.quote:hover,
		.woocommerce button.button.alt:hover,
		.owl-prev:hover,
		.owl-next:hover {
			background-color: #282828;
		}

		.our_event_list a:hover,
		.hdrsocial a:hover,
		.site-footer ul li a:hover,
		.site-footer ul li.current_page_item a {
			color: #348e37;
		}

		#clienttestiminials .tmnlThumb {
			border-color: #282828;
		}

		.site-navigation a,
		.site-navigation ul li.current_page_parent ul.sub-menu li a,
		.site-navigation ul li.current_page_parent ul.sub-menu li.current_page_item ul.sub-menu li a,
		.site-navigation ul li.current-menu-ancestor ul.sub-menu li.current-menu-item ul.sub-menu li a {
			color: #fff;
		}

		.site-navigation ul.nav-menu .current_page_item>a,
		.site-navigation ul.nav-menu .current-menu-item>a,
		.site-navigation ul.nav-menu .current_page_ancestor>a,
		.site-navigation ul.nav-menu .current-menu-ancestor>a,
		.site-navigation .nav-menu a:hover,
		.site-navigation .nav-menu a:focus,
		.site-navigation .nav-menu ul a:hover,
		.site-navigation .nav-menu ul a:focus,
		.site-navigation ul li a:hover,
		.site-navigation ul li.current_page_parent ul.sub-menu li.current-menu-item a,
		.site-navigation ul li.current_page_parent ul.sub-menu li a:hover,
		.site-navigation ul li.current-menu-item ul.sub-menu li a:hover,
		.site-navigation ul li.current-menu-ancestor ul.sub-menu li.current-menu-item ul.sub-menu li a:hover {
			color: #282828;
		}

		.site-navigation .nav-menu a:focus {
			outline: 1px solid#282828 !important;
		}

		#SiteWrapper a:focus {
			outline: 1px solid #348e37;
		}

		button:focus,
		input[type='text']:focus,
		input[type='email']:focus,
		input[type='date']:focus,
		input[type='search']:focus,
		input[type='number']:focus,
		input[type='tel']:focus,
		input[type='button']:focus,
		input[type='month']:focus,
		input[type='range']:focus,
		input[type='password']:focus,
		input[type='datetime']:focus,
		input[type='week']:focus,
		input[type='submit']:focus,
		input[type='datetime-local']:focus,
		input[type='url']:focus,
		input[type='time']:focus,
		input[type='reset']:focus,
		input[type='color']:focus,
		textarea:focus {
			outline: 1px solid #348e37;
		}

		.site-navigation .book-ticket-button a,
		.nivo-directionNav a:hover,
		.category-box-content a:hover,
		.category-box-image,
		.woocommerce ul.products li.product .button,
		.awards_section::before {
			background: #348e37;
		}

		.category-box-content a,
		.woocommerce ul.products li.product .button:hover,
		.site-navigation li.club_btn,
		.team-image-area .social-icons a:hover,
		.owl-controls .owl-dot.active,
		.nivo-controlNav a.active {
			background: #282828;
		}

		.woocommerce ul.products li.product .woocommerce-loop-category__title,
		.woocommerce ul.products li.product .woocommerce-loop-product__title,
		.woocommerce ul.products li.product h3,
		.infoBx a:hover,
		.testimonial-content h6,
		.heade-top-area-mail a:hover,
		.heade-top-area-hdrsocial a:hover,
		.newsInfo h3 a,
		.newsInfo p,
		.cart_location i,
		.cart-price {
			color: #282828;
		}

		.woocommerce ul.products li.product .woocommerce-loop-product__title:hover {
			color: #348e37;
		}

		.footer_info_area,
		.services_box:hover .elementor-image-box-content,
		.pricing_btn .elementor-button::before,
		.team-image-area .team-thumb,
		.team-image-area .social-icons a,
		.newsThumb span,
		.hdrtop-Info.hdrsocial,
		.woocommerce div.product .woocommerce-tabs ul.tabs li.active a,
		.woocommerce div.product form.cart .button:hover,
		.zone-button a,
		.category-thumb,
		.features_box .elementor-image-box-img,
		.gift_baskets_slider .swiper-slide-inner,
		.gift_baskets_slider .elementor-swiper-button i,
		.woocommerce #review_form #respond .form-submit input {
			background: #348e37;
		}

		.footertime i,
		.footerstar i,
		.itembox h6,
		.widget-column-1 a:hover,
		button.dropdown-toggle,
		.category-box:hover .category-content a,
		.testimonial-content h5,
		.woocommerce-Price-currencySymbol,
		.woocommerce-Price-amount.amount,
		.woocommerce-Price-amount.amount,
		.woocommerce-Price-currencySymbol,
		.footer-info-dtl i {
			color: #348e37;
		}

		.nivo-caption .slidermorebtn {
			background-color: #348e37;
		}

		.welcome_img_box .elementor-image-box-img,
		.process_box .elementor-image-box-img,
		#sync2 .testimonial_image:hover {
			border-color: #348e37;
		}

		.quality_contact .elementor-image-box-img,
		.process_box .elementor-image-box-img::before,
		.outlets_info .elementor-image-box-img,
		.footer-info-logo,
		.site-navigation ul ul,
		.site-footer h3::before,
		.share-nodes-icon i,
		#sidebar .wp-block-search__button {
			background-color: #348e37;
		}

		.header-area {
			background: #ffffff;
		}

		.nivo-caption .slidermorebtn:hover {
			background: #282828;
		}

		.checkout-button.button:hover,
		.newsletter-form .mc4wp-form-fields [type='submit']:hover {
			background: #282828 !important;
		}

		.heade-top-area-mail h6,
		.heade-top-area-mail a,
		.heade-top-area-mail p,
		.hdrtop-Info,
		.hdrsocial a,
		.infoBx a,
		.infoBx p,
		.heade-top-area-mail i,
		.category-content a,
		.hdrtop-Info,
		.heade-top-area-mail,
		.heade-top-area-hdrsocial a {
			color: #ffffff;
		}

		.hdrdetail {
			background: #348e37;
		}

		.footer-info-box {
			background: #e8f6e9;
		}

		.site-footer .footsocial a {
			background: #337252;
			color: #ffffff;
		}

		.site-footer .footsocial a:hover {
			background: #348e37 !important;
			color: #ffffff;
		}

		.discount-zone-box::after,
		.everyday-image::after,
		.second-everyday-image::after {
			border-color: #348e37;
		}

		.discount-zone-box2::after,
		.newsletter-form .mc4wp-form-fields [type='submit'],
		.flowers-list .elementor-icon-list-icon {
			background: #348e37;
		}

		.services_large_image .elementor-widget-container::after {
			background: #e8f6e9;
		}

		.newsInfo {
			background: #ffffff;
		}

		.team-inner .team-inner-box {
			background: #2c5a44;
		}

		.home-product .woo-product-img {
			background: #f2f2f2;
		}

		.newsletter-form .mc4wp-form-fields input[type='email'] {
			background: #e8f6e9;
		}

		.footer-fix {
			border-color: #337252;
		}

		.site-navigation ul.nav-menu {
			background: #348e37;
		}


		body,
		.contact-form-section .address,
		.accordion-box .acc-content {
			color: #161616;
		}

		body {
			font-family: Poppins;
			font-size: 15px;
		}

		.logo h1 a {
			font-family: Poppins;
			color: #212329;
			font-size: 38px
		}

		.logo p {
			color: #444444;
		}

		.logo img {
			height: 43px;
			width: auto;
		}

		.site-navigation ul {
			font-family: 'Poppins', sans-serif;
			font-size: 16px
		}

		a:hover {
			color: #272727;
		}

		.site-footer h2,
		.site-footer h3,
		.site-footer h4,
		.site-footer h5 {
			color: #fff;
			font-size: 22px;
		}

		.hdrtop-Info,
		.hdrsocial a,
		.infoBx a,
		.infoBx p,
		.heade-top-area-mail i {
			color: #ffffff;
		}

		#masthead,
		#navigationpanel {
			background-color: #ffffff;
		}

		.button,
		#commentform input#submit,
		input.search-submit,
		.post-password-form input[type=submit],
		p.read-more a,
		.pagination ul li span,
		.pagination ul li a,
		.headertop .right a,
		.wpcf7 form input[type='submit'],
		#sidebar .search-form input.search-submit {
			color: #ffffff;
		}

		.button:hover,
		input.search-submit:hover,
		.post-password-form input[type=submit]:hover,
		p.read-more a:hover,
		.pagination ul li .current,
		.pagination ul li a:hover,
		.headertop .right a:hover,
		.wpcf7 form input[type='submit']:hover {
			background-color: #464646;
			color: #ffffff;
		}

		a.morebutton {
			color: #ffffff;
		}

		a.morebutton:hover {
			background-color: #464646;
			color: #ffffff;
		}

		#sidebar h2,
		#sidebar h2,
		#sidebar h4,
		#sidebar h5 {
			color: #202020;
			font-size: 22px;
		}

		.site-footer,
		.widget-column-1 a,
		.widget-column-2 p,
		.widget-column-3 p,
		.widget-column-3 a,
		.footer_info_box h6,
		.footer_info_box i {
			background-color: #1b4b33;
			color: #fff;
		}

		.footer-contact-info .footer-info-box a,
		.footer-contact-info .footer-info-box {
			color: #fff;
		}

		.contactdetail a,
		.site-footer ul li a {
			color: #fff;
		}

		.copyright-wrapper,
		.help-button a {
			background-color: #1b4b33;
			color: #fff;
		}

		.copyright-wrapper a:hover {
			color: #ffffff;
		}

		.nivo-controlNav a {
			background-color: #348e37
		}

		#sidebar ul li {
			border-color: #d0cfcf
		}

		#sidebar ul li a {
			color: #78797c;
		}

		.nivo-caption h2 {
			font-family: Poppins;
			color: #282828;
			font-size: 48px;
		}

		.nivo-caption p {
			font-family: Poppins;
			color: #161616;
			font-size: 16px;
		}

		.nivo-caption h4 {
			font-family: Poppins;
			
		}

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			font-family: Poppins;
		}

		h1 {
			font-size: 30px;
			color: #272727;
		}

		h2 {
			font-size: 32px;
			color: #272727;
		}

		h3 {
			font-size: 30px;
			color: #272727;
		}

		h4 {
			font-size: 24px;
			color: #272727;
		}

		h5 {
			font-size: 22px;
			color: #272727;
		}

		h6 {
			font-size: 20px;
			color: #272727;
		}

		.footsocial a {
			color: #ffffff;
		}

		.nivo-directionNav a {
			background-color: rgba(255, 255,0 , 1);
		}

		.news-box h6 a {
			color: #282828;
		}

		.pagination ul li .current,
		.pagination ul li a:hover,
		.sd-search input,
		.sd-top-bar-nav .sd-search input,
		a.blogreadmore,
		.owl-prev,
		.owl-next,
		.custom_video .playbtn:after,
		.NewsBox .newsInfo span,
		#back-top i,
		#commentform input#submit,
		a.ReadMoreBtn,
		.copyrigh-wrapper:before,
		#sidebar .search-form input.search-submit,
		.wpcf7 input[type='submit'],
		nav.pagination .page-numbers.current,
		.morebutton,
		.woocommerce button.button.alt,
		.woocommerce span.onsale,
		.woocommerce-cart .wc-proceed-to-checkout a.checkout-button,
		.nivo-caption h5,
		.owl-controls .owl-dot,
		.RightNavMenu .container,
		.titledesbox cite {
			background-color: #348e37;
		}

		.titledesbox cite::before {
			border-bottom: 20px solid #348e37;
		}

		.titledesbox cite::after {
			border-top: 10px solid #348e37;
		}

		.header-contact-info .header-info-box b,
		.titledesbox h5 a {
			color: #348e37;
		}

		.header-search-area .header-search-bar .search-field {
			border-color: #348e37;
		}

		a,
		#sidebar ul li a:hover,
		#sidebar ol li a:hover,
		.BlogPostList h3 a:hover,
		.postmeta a:hover,
		#Section-11 ul li::marker,
		h5.subtitle,
		.NewsBox h3 a:hover,
		.woocommerce div.product p.price,
		.woocommerce div.product span.price,
		.woocommerce table.shop_table th,
		.woocommerce-page table.shop_table th,
		.button:hover,
		h2.services_title span,
		.blog-postmeta a:hover,
		.blog-postmeta a:focus,
		blockquote::before {
			color: #348e37;
		}

		.tagcloud a:hover,
		.logo::after,
		blockquote {
			border-color: #348e37;
		}

		a.quote:hover,
		.woocommerce button.button.alt:hover,
		.owl-prev:hover,
		.owl-next:hover {
			background-color: #282828;
		}

		.our_event_list a:hover,
		.hdrsocial a:hover,
		.site-footer ul li a:hover,
		.site-footer ul li.current_page_item a {
			color: #348e37;
		}

		#clienttestiminials .tmnlThumb {
			border-color: #282828;
		}

		.site-navigation a,
		.site-navigation ul li.current_page_parent ul.sub-menu li a,
		.site-navigation ul li.current_page_parent ul.sub-menu li.current_page_item ul.sub-menu li a,
		.site-navigation ul li.current-menu-ancestor ul.sub-menu li.current-menu-item ul.sub-menu li a {
			color: #fff;
		}

		.site-navigation ul.nav-menu .current_page_item>a,
		.site-navigation ul.nav-menu .current-menu-item>a,
		.site-navigation ul.nav-menu .current_page_ancestor>a,
		.site-navigation ul.nav-menu .current-menu-ancestor>a,
		.site-navigation .nav-menu a:hover,
		.site-navigation .nav-menu a:focus,
		.site-navigation .nav-menu ul a:hover,
		.site-navigation .nav-menu ul a:focus,
		.site-navigation ul li a:hover,
		.site-navigation ul li.current_page_parent ul.sub-menu li.current-menu-item a,
		.site-navigation ul li.current_page_parent ul.sub-menu li a:hover,
		.site-navigation ul li.current-menu-item ul.sub-menu li a:hover,
		.site-navigation ul li.current-menu-ancestor ul.sub-menu li.current-menu-item ul.sub-menu li a:hover {
			color: #282828;
		}

		.site-navigation .nav-menu a:focus {
			outline: 1px solid#282828 !important;
		}

		#SiteWrapper a:focus {
			outline: 1px solid #348e37;
		}

		button:focus,
		input[type='text']:focus,
		input[type='email']:focus,
		input[type='date']:focus,
		input[type='search']:focus,
		input[type='number']:focus,
		input[type='tel']:focus,
		input[type='button']:focus,
		input[type='month']:focus,
		input[type='range']:focus,
		input[type='password']:focus,
		input[type='datetime']:focus,
		input[type='week']:focus,
		input[type='submit']:focus,
		input[type='datetime-local']:focus,
		input[type='url']:focus,
		input[type='time']:focus,
		input[type='reset']:focus,
		input[type='color']:focus,
		textarea:focus {
			outline: 1px solid #348e37;
		}

		.site-navigation .book-ticket-button a,
		.nivo-directionNav a:hover,
		.category-box-content a:hover,
		.category-box-image,
		.woocommerce ul.products li.product .button,
		.awards_section::before {
			background: #348e37;
		}

		.category-box-content a,
		.woocommerce ul.products li.product .button:hover,
		.site-navigation li.club_btn,
		.team-image-area .social-icons a:hover,
		.owl-controls .owl-dot.active,
		.nivo-controlNav a.active {
			background: #282828;
		}

		.woocommerce ul.products li.product .woocommerce-loop-category__title,
		.woocommerce ul.products li.product .woocommerce-loop-product__title,
		.woocommerce ul.products li.product h3,
		.infoBx a:hover,
		.testimonial-content h6,
		.heade-top-area-mail a:hover,
		.heade-top-area-hdrsocial a:hover,
		.newsInfo h3 a,
		.newsInfo p,
		.cart_location i,
		.cart-price {
			color: #282828;
		}

		.woocommerce ul.products li.product .woocommerce-loop-product__title:hover {
			color: #348e37;
		}

		.footer_info_area,
		.services_box:hover .elementor-image-box-content,
		.pricing_btn .elementor-button::before,
		.team-image-area .team-thumb,
		.team-image-area .social-icons a,
		.newsThumb span,
		.hdrtop-Info.hdrsocial,
		.woocommerce div.product .woocommerce-tabs ul.tabs li.active a,
		.woocommerce div.product form.cart .button:hover,
		.zone-button a,
		.category-thumb,
		.features_box .elementor-image-box-img,
		.gift_baskets_slider .swiper-slide-inner,
		.gift_baskets_slider .elementor-swiper-button i,
		.woocommerce #review_form #respond .form-submit input {
			background: #348e37;
		}

		.footertime i,
		.footerstar i,
		.itembox h6,
		.widget-column-1 a:hover,
		button.dropdown-toggle,
		.category-box:hover .category-content a,
		.testimonial-content h5,
		.woocommerce-Price-currencySymbol,
		.woocommerce-Price-amount.amount,
		.woocommerce-Price-amount.amount,
		.woocommerce-Price-currencySymbol,
		.footer-info-dtl i {
			color: #348e37;
		}

		.nivo-caption .slidermorebtn {
			background-color: #348e37;
		}

		.welcome_img_box .elementor-image-box-img,
		.process_box .elementor-image-box-img,
		#sync2 .testimonial_image:hover {
			border-color: #348e37;
		}

		.quality_contact .elementor-image-box-img,
		.process_box .elementor-image-box-img::before,
		.outlets_info .elementor-image-box-img,
		.footer-info-logo,
		.site-navigation ul ul,
		.site-footer h3::before,
		.share-nodes-icon i,
		#sidebar .wp-block-search__button {
			background-color: #348e37;
		}

		.header-area {
			background: #ffffff;
		}

		.nivo-caption .slidermorebtn:hover {
			background: #282828;
		}

		.checkout-button.button:hover,
		.newsletter-form .mc4wp-form-fields [type='submit']:hover {
			background: #282828 !important;
		}

		.heade-top-area-mail h6,
		.heade-top-area-mail a,
		.heade-top-area-mail p,
		.hdrtop-Info,
		.hdrsocial a,
		.infoBx a,
		.infoBx p,
		.heade-top-area-mail i,
		.category-content a,
		.hdrtop-Info,
		.heade-top-area-mail,
		.heade-top-area-hdrsocial a {
			color: #ffffff;
		}

		.hdrdetail {
			background: #348e37;
		}

		.footer-info-box {
			background: #e8f6e9;
		}

		.site-footer .footsocial a {
			background: #337252;
			color: #ffffff;
		}

		.site-footer .footsocial a:hover {
			background: #348e37 !important;
			color: #ffffff;
		}

		.discount-zone-box::after,
		.everyday-image::after,
		.second-everyday-image::after {
			border-color: #348e37;
		}

		.discount-zone-box2::after,
		.newsletter-form .mc4wp-form-fields [type='submit'],
		.flowers-list .elementor-icon-list-icon {
			background: #348e37;
		}

		.services_large_image .elementor-widget-container::after {
			background: #e8f6e9;
		}

		.newsInfo {
			background: #ffffff;
		}

		.team-inner .team-inner-box {
			background: #2c5a44;
		}

		.home-product .woo-product-img {
			background: #f2f2f2;
		}

		.newsletter-form .mc4wp-form-fields input[type='email'] {
			background: #e8f6e9;
		}

		.footer-fix {
			border-color: #337252;
		}

		.site-navigation ul.nav-menu {
			background: #348e37;
		}